{% extends 'base.html' %}
{% block content %}
<br>
<h1 class="text-left">
    GameVoter is a game comparison platform. There are a lot of verses. You can find out which game you should play. PC games, console games or mobile games it doesn't matter.
    Vote for the player you like or create polls anything about games. Catch up what is new on gaming world. Our news was prepared by our team, taking care not to cliché.

</h1>
<br>
<br>
<h6 class="text-right" >2020 GameVoter Team</h6>
<br>



{% endblock %}